.pieHeading {
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -2.1px;
}

.pieContainer {
  margin-left: 40px;
  padding-top: 40px;
  float: left;
  position: relative;
  min-height: 320px;
  width: 400px;
}
.pieLoaderContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 60px;
}
