.verticalBarHeading {
  font-family: 'Roboto Mono', monospace;
  color: #99816b;
  font-size: 20px;
  letter-spacing: -2.1px;
}

.verticalBarContainer {
  width: 400px;
  float: left;
  padding-top: 40px;
  padding-left: 30px;
  position: relative;
  min-height: 380px;
}
.verticalLoaderContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.bar:hover {
  fill: orangered ;
}
