.slidePanelProfileImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.userName {
  color: #bcc2c8;
}

.textFieldStyle {
  height: 30px;
  background-color: #3a4148;
}


.searchIcon {
  color: #bcc2c8;
}

.commonIcons {
  color: #bcc2c8;
  margin-right: 10px;
  font-size: 12px;
}
.profileContainer {
  padding-bottom: 20px;
}
.menuItemsParentContainer {
  padding-bottom: 50px;
  clear:both;
  content: '';
}

.formPadding {
  padding-bottom: 40px;
}

.menuItemsFont {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #bcc2c8;
}
.menuLeftIconContainer {
  float: right;
}

.menuItemContainer {
  float: left;
}
