.totalRevenue {
   font-size: 38px;
   margin: 0;
  -webkit-font-smoothing: antialiased;
   color: #1f78b5;
   font-weight: 400;
   letter-spacing: -2.1px;
   text-align: center;
}

.title {
  margin: 0 0 10px;
  color: #ffffff;
  text-align: center;
}

.titleRevenueContainer {
 float: left;
 width: 316px;
}
