.donutHeading {
  font-family: 'Roboto Mono', monospace;
  color: #99816b;
  font-size: 20px;
  letter-spacing: -2.1px;
}

.donutContainer {
  width: 320px;
  min-height: 320px;
  margin-left: 50px;
  padding-top: 40px;
  float: left;
}
