.donutHeading {
  font-family: 'Roboto Mono', monospace;
  color: #99816b;
  font-size: 20px;
  letter-spacing: -2.1px;
}

.donutContainer {
  margin-left: 30px;
  padding-top: 40px;
  width: 24%;
  float: left;
}
