.displayRevenueContainer {
  margin-top: 40px;
  font-family: 'Roboto Mono', monospace;
}
.loaderContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 60px;
}
.clearFix:after {
  clear: both;
  content: '';
  display: table;
}
.dashBoardContainer {
  background-color: #3a4148
}

.leftHeader {
  height: 100%;
}

.rightHeader {
  height: 100%;
}

.dashBoardHeader {
  height: 50px;
  font-family: 'Rubik', sans-serif;
  border-bottom: 2px solid black;
}

.title {
  color: #6cddfc;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 45px;
}

.menuIcon {
  color: #bcc2c8;
}

.commonLi {
  color: #bcc2c8;
  margin-right: 10px;
}

.list-container {
  margin-top: 12px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
