.react-datepicker-wrapper {
  float: left;
  padding: 2px 5px;
}

.react-datepicker-wrapper input[type="text"] {
  width: 100px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
}


.to-datepicker {
  float: left;
  color: #fff;
}
